n8n-workflow.json
{
  "name": "Autom8 вЂ” Lead Alert System",
  "nodes": [
    {
      "id": "a1b2c3d4-0001-0000-0000-000000000001",
      "name": "Run Every 15 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [200, 300],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      }
    },
    {
      "id": "a1b2c3d4-0002-0000-0000-000000000002",
      "name": "Get Unnotified Conversations",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [440, 300],
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEETS_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Conversations",
          "mode": "name"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "notification_sent",
              "lookupValue": ""
            }
          ]
        },
        "options": {
          "returnAllMatches": true
        }
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GOOGLE_CREDENTIAL_ID",
          "name": "Google Sheets вЂ” Autom8"
        }
      }
    },
    {
      "id": "a1b2c3d4-0003-0000-0000-000000000003",
      "name": "Any Rows Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [660, 300],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "a1b2c3d4-0004-0000-0000-000000000004",
      "name": "Process One Row at a Time",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [880, 220],
      "parameters": {
        "batchSize": 1,
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0005-0000-0000-000000000005",
      "name": "Is High Intent Status?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1100, 220],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false
          },
          "conditions": [
            {
              "leftValue": "={{ $json.status_update }}",
              "rightValue": "Call Requested|Demo Requested|Pricing Asked|Signup Ready|Qualified Lead Replied|Hot Lead Replied",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "a1b2c3d4-0006-0000-0000-000000000006",
      "name": "Get Lead Details",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [1320, 140],
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEETS_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Leads",
          "mode": "name"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "lead_id",
              "lookupValue": "={{ $json.lead_id }}"
            }
          ]
        },
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GOOGLE_CREDENTIAL_ID",
          "name": "Google Sheets вЂ” Autom8"
        }
      }
    },
    {
      "id": "a1b2c3d4-0007-0000-0000-000000000007",
      "name": "Build Notification Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1540, 140],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Pull conversation row and lead data\nconst conv = $input.item.json;\nconst lead = $('Get Lead Details').first().json;\n\n// Merge вЂ” conversation fields take priority, fall back to lead\nconst name = conv.name || lead.name || 'Unknown';\nconst company = conv.company || lead.company || '';\nconst platform = conv.platform || lead.suggested_channel_priority || '';\nconst linkedinUrl = lead.linkedin_url || '';\nconst instagramUrl = lead.instagram_url || '';\nconst email = lead.email || '';\nconst temperature = conv.lead_temperature_after || lead.lead_temperature || '';\nconst statusUpdate = conv.status_update || '';\nconst replyText = conv.reply_text || '';\nconst draftReply = conv.draft_reply || '';\nconst notificationReason = conv.notification_reason || '';\nconst availableTimes = conv.available_times_from_lead || '';\nconst conversationId = conv.conversation_id || '';\nconst sheetRowLink = `https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEETS_ID/edit`;\n\n// Urgency level\nconst urgentStatuses = ['Call Requested', 'Signup Ready'];\nconst highStatuses = ['Demo Requested', 'Pricing Asked', 'Qualified Lead Replied'];\nconst urgency = urgentStatuses.includes(statusUpdate) ? 'URGENT' \n              : highStatuses.includes(statusUpdate) ? 'HIGH' \n              : 'MEDIUM';\n\nconst urgencyEmoji = urgency === 'URGENT' ? 'рџљЁ' : urgency === 'HIGH' ? 'вљЎ' : 'рџ“¬';\n\n// Alert type label\nconst alertTypeMap = {\n  'Call Requested': 'a strategy call',\n  'Demo Requested': 'a demo',\n  'Pricing Asked': 'pricing info',\n  'Signup Ready': 'to sign up',\n  'Qualified Lead Replied': 'to connect (Qualified)',\n  'Hot Lead Replied': 'to connect (Hot)'\n};\nconst alertLabel = alertTypeMap[statusUpdate] || 'to connect';\n\n// Email subject\nconst subject = `Autom8 Lead Alert: ${name} wants ${alertLabel}`;\n\n// Scheduling section (only for Call Requested)\nlet schedulingBlock = '';\nif (statusUpdate === 'Call Requested') {\n  if (availableTimes) {\n    schedulingBlock = `\nв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓ\nLEAD'S AVAILABLE TIMES\nв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓ\n${availableTimes}\n\nв†’ Reply to ${name} on ${platform} confirming which time works for you.`;\n  } else {\n    schedulingBlock = `\nв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓ\nSCHEDULING NOTE\nв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓ\nThe draft reply above asks ${name} for 2вЂ“3 times that work for them.\nYou'll get another alert when they reply with their availability вЂ” then just confirm one time directly in the chat.`;\n  }\n}\n\n// Full email body\nconst emailBody = `Hi Crystal,\n\n${urgencyEmoji} ${urgency} вЂ” respond ${urgency === 'URGENT' ? 'within 2 hours' : urgency === 'HIGH' ? 'within 4 hours' : 'within 24 hours'}.\n\nв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓ\nLEAD\nв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓ\nName:        ${name}\nCompany:     ${company}\nTemperature: ${temperature}\nChannel:     ${platform}\nStatus:      ${statusUpdate}\n\nв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓ\nWHAT THEY SAID\nв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓ\n${replyText}\n\nв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓ\nDRAFT REPLY (approve and send manually)\nв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓ\n${draftReply}${schedulingBlock}\n\nв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓ\nCONTACT\nв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓ\nLinkedIn:   ${linkedinUrl || 'вЂ”'}\nInstagram:  ${instagramUrl || 'вЂ”'}\nEmail:      ${email || 'вЂ”'}\n\nв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓ\nCRM ROW\nв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓ\n${sheetRowLink}\n\nв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓ\nAutom8 Sales System | Auto-generated | ${new Date().toISOString()}`;\n\n// Discord message\nconst discordMessage = `${urgencyEmoji} **Autom8 Lead Alert** вЂ” ${urgency}\\n\\n**Lead:** ${name}${company ? ` вЂ” ${company}` : ''}\\n**Status:** ${statusUpdate}\\n**Temperature:** ${temperature}\\n**Channel:** ${platform}\\n\\n**What they said:**\\n${replyText}\\n\\n**Draft reply:**\\n${draftReply}${availableTimes ? `\\n\\n**Their available times:** ${availableTimes}` : ''}\\n\\n${linkedinUrl ? `LinkedIn: ${linkedinUrl}` : ''}${instagramUrl ? `\\nInstagram: ${instagramUrl}` : ''}${email ? `\\nEmail: ${email}` : ''}\\n\\nSheet: ${sheetRowLink}`;\n\n// SMS (URGENT only, short)\nconst smsBody = `Autom8 ${urgencyEmoji} ${name}${company ? ` (${company})` : ''} wants ${alertLabel}. Check email now вЂ” reply fast.`;\n\nreturn {\n  conversationId,\n  name,\n  company,\n  platform,\n  statusUpdate,\n  urgency,\n  urgencyEmoji,\n  subject,\n  emailBody,\n  discordMessage,\n  smsBody,\n  linkedinUrl,\n  instagramUrl,\n  email,\n  leadId: conv.lead_id,\n  replyText,\n  draftReply,\n  availableTimes,\n  sheetRowLink\n};"
      }
    },
    {
      "id": "a1b2c3d4-0008-0000-0000-000000000008",
      "name": "Send Gmail Alert",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1760, 60],
      "parameters": {
        "sendTo": "YOUR_EMAIL",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.emailBody }}",
        "options": {
          "bodyType": "text"
        }
      },
      "credentials": {
        "gmailOAuth2": {
          "id": "GMAIL_CREDENTIAL_ID",
          "name": "Gmail вЂ” Autom8 Alerts"
        }
      }
    },
    {
      "id": "a1b2c3d4-0009-0000-0000-000000000009",
      "name": "Send Discord Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1760, 220],
      "parameters": {
        "method": "POST",
        "url": "YOUR_DISCORD_WEBHOOK_URL",
        "sendBody": true,
        "contentType": "json",
        "body": {
          "content": "={{ $json.discordMessage }}",
          "username": "Autom8 Sales Bot",
          "avatar_url": "https://autom8ig.io/favicon.ico"
        },
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0010-0000-0000-000000000010",
      "name": "Is URGENT?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1760, 380],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false
          },
          "conditions": [
            {
              "leftValue": "={{ $json.urgency }}",
              "rightValue": "URGENT",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "a1b2c3d4-0011-0000-0000-000000000011",
      "name": "Send SMS Alert",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [1980, 320],
      "parameters": {
        "operation": "send",
        "from": "YOUR_TWILIO_PHONE_NUMBER",
        "to": "YOUR_PHONE_NUMBER",
        "message": "={{ $json.smsBody }}"
      },
      "credentials": {
        "twilioApi": {
          "id": "TWILIO_CREDENTIAL_ID",
          "name": "Twilio вЂ” Autom8"
        }
      }
    },
    {
      "id": "a1b2c3d4-0012-0000-0000-000000000012",
      "name": "Is Call Requested?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1980, 140],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false
          },
          "conditions": [
            {
              "leftValue": "={{ $json.statusUpdate }}",
              "rightValue": "Call Requested",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "a1b2c3d4-0013-0000-0000-000000000013",
      "name": "Add to Call Requests Tab",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [2200, 80],
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEETS_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Call_Requests",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "call_request_id": "=CR-{{ $now.toFormat('yyyyMMddHHmmss') }}",
            "date": "={{ $now.toFormat('yyyy-MM-dd') }}",
            "lead_id": "={{ $json.leadId }}",
            "name": "={{ $json.name }}",
            "company": "={{ $json.company }}",
            "email": "={{ $json.email }}",
            "linkedin_url": "={{ $json.linkedinUrl }}",
            "instagram_url": "={{ $json.instagramUrl }}",
            "platform": "={{ $json.platform }}",
            "reply_summary": "={{ $json.replyText }}",
            "recommended_next_action": "Send draft reply asking lead for 2вЂ“3 available times. Confirm one when they reply.",
            "booking_link_sent": "No",
            "times_requested": "={{ $json.availableTimes }}",
            "call_booked": "No",
            "notes": "Alert sent via n8n at {{ $now.toISO() }}"
          }
        },
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GOOGLE_CREDENTIAL_ID",
          "name": "Google Sheets вЂ” Autom8"
        }
      }
    },
    {
      "id": "a1b2c3d4-0014-0000-0000-000000000014",
      "name": "Mark Notification Sent",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [2200, 280],
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEETS_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Conversations",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "conversation_id": "={{ $json.conversationId }}",
            "notification_sent": "Yes",
            "notification_sent_date": "={{ $now.toFormat('yyyy-MM-dd') }}"
          }
        },
        "where": {
          "values": [
            {
              "column": "conversation_id",
              "value": "={{ $json.conversationId }}"
            }
          ]
        },
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GOOGLE_CREDENTIAL_ID",
          "name": "Google Sheets вЂ” Autom8"
        }
      }
    },
    {
      "id": "a1b2c3d4-0015-0000-0000-000000000015",
      "name": "Also Update Lead Status",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [2420, 280],
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEETS_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Leads",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "lead_id": "={{ $json.leadId }}",
            "status": "={{ $json.statusUpdate }}",
            "lead_temperature": "={{ $json.temperature || '' }}",
            "date_last_updated": "={{ $now.toFormat('yyyy-MM-dd') }}"
          }
        },
        "where": {
          "values": [
            {
              "column": "lead_id",
              "value": "={{ $json.leadId }}"
            }
          ]
        },
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GOOGLE_CREDENTIAL_ID",
          "name": "Google Sheets вЂ” Autom8"
        }
      }
    }
  ],
  "connections": {
    "Run Every 15 Minutes": {
      "main": [
        [
          {
            "node": "Get Unnotified Conversations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Unnotified Conversations": {
      "main": [
        [
          {
            "node": "Any Rows Found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Any Rows Found?": {
      "main": [
        [
          {
            "node": "Process One Row at a Time",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Process One Row at a Time": {
      "main": [
        [
          {
            "node": "Is High Intent Status?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is High Intent Status?": {
      "main": [
        [
          {
            "node": "Get Lead Details",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Get Lead Details": {
      "main": [
        [
          {
            "node": "Build Notification Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Notification Payload": {
      "main": [
        [
          {
            "node": "Send Gmail Alert",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Discord Alert",
            "type": "main",
            "index": 0
          },
          {
            "node": "Is URGENT?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Is Call Requested?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is URGENT?": {
      "main": [
        [
          {
            "node": "Send SMS Alert",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Is Call Requested?": {
      "main": [
        [
          {
            "node": "Add to Call Requests Tab",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark Notification Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add to Call Requests Tab": {
      "main": [
        [
          {
            "node": "Mark Notification Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Notification Sent": {
      "main": [
        [
          {
            "node": "Also Update Lead Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "versionId": "autom8-lead-alerts-v1",
  "id": "autom8-lead-alerts",
  "tags": [
    { "name": "autom8" },
    { "name": "sales" },
    { "name": "notifications" }
  ]
}
